html {
  font-size: 15px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  text-align: center;
  padding: 2rem 1rem;
}
header > h2 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 600;
}
p {
  margin: 1rem 0;
  line-height: 1.5rem;
}
.tag {
  background-color: black;
  color: white;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  display: inline-block;
}
.tag.tag-secondary {
  background-color: #f1f1f1;
  color: black;
  font-size: 0.8rem;
}
.tag-round {
  border-radius: 50%;
}

main {
  display: flex;
}
.col1,
.col2 {
  padding: 1rem;
}
.col1 {
  flex: 2;
}
.col2 {
  flex: 1;
}
.post {
  background-color: white;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 2.7rem;
}
.post-image {
  width: 100%;
}
.post-body {
  padding: 1rem;
}
.post-title {
  margin: 0 0 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.post-title-desc {
  font-size: 0.9rem;
  color: #333;
}
.post-date {
  font-style: italic;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2rem;
}
.post-button {
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border: 1px solid #ccc;
  font-weight: 700;
  color: black;
}
.post-button:hover {
  background-color: #ccc;
  color: black;
}

.post-comment-text {
  font-weight: 600;
  margin-right: 0.5rem;
}

.sidebar-box {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: 2.7rem;
}

.sidebar-box-image {
  width: 100%;
}
.sidebar-box-title {
  margin: 0.6rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
}

.sidebar-box-body {
  padding: 0 1rem 1px 1rem;
}
.sidebar-box-header {
  padding: 1.2rem 1rem;
  background-color: #f1f1f1;
  font-size: 1.3rem;
}

ul.popular-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.popular-post-image {
  margin-right: 1rem;
}
ul.popular-posts > li {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}
ul.popular-posts > li:hover {
  background-color: #ccc;
}
ul.popular-posts > li:last-child {
  border-bottom: none;
}
.popular-post-text {
  line-height: 1.5;
}
.popular-post-text::first-line {
  font-size: 1.2rem;
}

.tags > .tag {
  margin-bottom: 1rem;
  padding: 0.2rem;
}

footer {
  background-color: #616161;
  color: white;
  margin-top: 1rem;
  padding: 2rem 1rem;
}
.footer-link {
  text-decoration: underline;
  color: white;
}
.footer-button {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin-bottom: 1rem;
  color: white;
  background-color: black;
  text-decoration: none;
}
.footer-button:hover {
  background-color: #ccc;
  color: black;
}
.footer-button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem;
}

@media screen and (max-width: 975px) {
  main {
    flex-direction: column;
  }
}
